In [1]:
import pandas as pd

In [8]:
# Function to get scores for a specific team
def get_team_scores(team_name):
    team_scores = df[df['team_name'] == team_name]
    if team_scores.empty:
        print(f"No scores found for team: {team_name}")
        return None
    return team_scores

All Scores:

,timestamp,judge_name,team_name,go_live,usefulness,taste,problem_statement
0,2025-03-29 18:10:46,Ishan,Sugarplum,0,0,0,0

In [108]:
team_name = "Team 1"

# Load scores.csv into a DataFrame
df = pd.read_csv('scores.csv')

team_data = get_team_scores(team_name)
if team_data is not None:
    print(f"\nScores for team {team_name}:")
    display(team_data)

Scores for team Team 1:

,timestamp,judge_name,team_name,go_live,usefulness,taste,problem_statement
96,2025-03-29 20:06:10,Gaurang,Team 1,5,4,4,4
97,2025-03-29 20:09:29,Rohan,Team 1,3,3,3,4
98,2025-03-29 20:09:36,Ishan,Team 1,4,4,3,4
99,2025-03-29 20:09:53,Nimisha,Team 1,4,3,4,4
100,2025-03-29 20:10:12,Ayush,Team 1,4,3,3,3
101,2025-03-29 20:10:20,vedant,Team 1,0,1,1,1
102,2025-03-29 20:10:22,chintan,Team 1,4,3,3,3
103,2025-03-29 20:10:27,Dev,Team 1,1,1,0,3